*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
html, body{
  height:100%;
}
/*stick the footer in the very bottom*/
.container{
  position:relative;
  min-height: 100%;
}

.content{
  padding-bottom: 100px;
}

.site-footer{
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  border:1px solid black;
  height:100px;
}