@import '_base';


.container{
  max-width:1200px;
  margin:0 auto;
}

.main-header__title--h1{
  text-align:center;
  margin:20px;
}
.main-header__menu-item{
  display:inline-block;
  list-style-type: none;
  margin-right:5px;
}
.main-header__admin{
  float:right;
  display:inline-block;
  list-style-type: none;

}
.main-header__menu{
  width:100%;
  margin-bottom:20px;

}

.admin-zone--greeting{
  text-align:center;
  color:red;
}

.main-header__language-select{
  float:right;
  display:inline-block;
  list-style-type: none;
  margin-right:10px;
}
.admin__h2-title{
  text-align:center;
}

.nested-1{
  background-color: #97c6c7;

}
.nested-2{
  background-color: #827bcc;

}
.nested-3{
  background-color: rgba(156, 132, 126, 0.8);

}
.categories-drop-down-menu, .manufacturers-drop-down-menu{
  margin-left:5px;
}
.admin-products-list{
  border-spacing: 2px;

}
.admin-products-list-container{
  margin-top:20px;
}

.admin-products-list__header{
  background: rgba(156, 101, 117, 0.86);
  color:#ad0521
}
.admin-products-list__row{
  cursor:pointer;
  background: rgba(0, 204, 102, 0.53);
}
.admin-products-list__row:nth-child(2n){
  background: #ada787
}
.admin-products-list th, .admin-products-list td{
  padding:2px;

}
.pagination-item, .pagination-item-comment{
  cursor: pointer;
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
  border-radius: 3px;
  background-color: #83abbf;

}
.pagination-item-current, .pagination-item-comment-current{
  cursor:default;
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
  border-radius: 3px;
  background-color: rgba(191, 28, 52, 0.77);
}

.products-pagination, .comments-pagination{
  text-align:center;
  margin:20px 0;
}

.popup-menu{
  width:100px;
 /* height:60px;*/
  background-color: #e2dd9a;
  border:1px solid black;
  border-radius:5px;
  position:absolute;
  z-index:1000;
  padding: 3px;
  color: #3c384a;
}
.popUp-menu-item{
  cursor:pointer;
  margin-top:1px;
  color: #3c384a;
  text-decoration:none;
}

.admin-product__field{
  margin-top:10px;
}
.admin-product__field-label{
  color:#00A6C7;
  font: bold italic 110% serif;

}
.admin-product__field-error{
  color:red;
  display:block;
}
.admin-product-list-notice{
  border: 1px solid red;
  text-align: center;
  background-color: #489455;
  padding: 10px;
  margin: 20px 0;
  color: red;
}
.admin-products-list-notice__close{
  color: red;
  float: right;
  cursor: pointer;
  font-size: 150%;
  margin-top: -5px;
  background: #3d3d73;
  padding: 0 5px;
}
.product__add-image-btn{
  cursor:pointer;

  width:200px;

}
.product__add-image-btn-container{
  display:flex;
  justify-content: center;
}


.product__image-area{
  border:1px solid darkmagenta;
  border-radius:10px;
  margin:10px 0;

  padding:10px;
  display:flex;
  justify-content: flex-start;
}
.product__image-thumb{
  border:1px solid darkblue;
  max-width:115px;
  max-height:120px;
  float:left;
  margin-bottom:10px;
}

.product__image-area-left{
 /* background-color: rgba(146, 204, 134, 0.4);*/
  height:145px;

}

.product__image-area-right{
  padding:30px 10px;
}
.product__image-area-btn{
  margin-left:10px;
}
.product__image-area-btn--hidden{
  display:none;
}
.image-upload--failed{
  color:#9c3328;
}
.image-upload--succeded, .image-delete--succeded {
  color: #2bcc26;
}
.admin-products-list__row-thumb{
  max-height:100px;
  max-width:100px;
  border:1px solid red;
}

.admin-products-list__row-thumb--hidden{
  display:none;
}
.product-images{
  margin-bottom:20px;
}
.product__add-image-btn--hidden{
  display:none;
}

.product__image-area--hidden {
  display:none;
}

.product-image-preview{
  float:left;
  margin:10px;
  cursor:pointer;
}
.product-images-list:before, .product-images-list:after{
  content:"";
  display:table;
}
.product-images-list:after{
  clear:both;

}
.product-images-list{
  *zoom:1;

}
.admin-product__form{
  padding:20px;

}
.admin-product__form-title{
  text-align:center;
  margin-bottom:20px;
}

.form{
  width:400px;
  margin:0 auto;
}

.modal-background{
  position:fixed;
  width:100%;
  height:100%;
  background-color: rgba(58, 53, 53, 0.88);
  display:flex;
  justify-content: center;

  z-index:900;
}

.popup-window{
  position:fixed;
  width:400px;
  min-height:200px;
  max-height:300px;
  top:200px;
  background-color: #9c3328;
  border: 1px solid red;
  border-radius: 10px;
  padding:10px;
  z-index:1000;
}
.popup-text{
  text-align: center;
  color:black;
  font-size:150%;
  margin:30px 0;
}

.modal-confirm-btn{
  width:100px;
  height:30px;
  margin-left:5px;
  cursor:pointer;
  border-radius: 5px;
}
.modal-confirm-btn-container{
  display: flex;
  justify-content: center;
}
.content-zone__item-output-image{
  cursor:pointer;
}

.admin-comments-list-container{
  margin-top:20px;
}

.admin-comments-list__row-thumb{
  max-height:100px;
  max-width:100px;
  border:1px solid red;
}

.admin-comments-list__header{
  background: rgba(156, 101, 117, 0.86);
  color:#ad0521
}
.admin-comments-list__row{
  cursor:pointer;
  background: rgba(0, 204, 102, 0.53);
}
.admin-comments-list__row:nth-child(2n){
  background: #ada787
}
.admin-comments-list th, .admin-comments-list td{
  padding:2px;

}






@media screen and(max-width:750px){

  .admin-product__form{
    padding-left:5px;

  }

}